<%# bid_row
  - catalog_bidding
%>
<tr>
  <td>
    <%= catalog_bidding.user.email %>
  </td>
  <td>
    <%= catalog_bidding.offered_price %>
  </td>
  <td>
    <%= catalog_bidding.offered_at %>
  </td>
</tr>
